<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright 2013-2016 appPlant UG

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-email-composer"
        version="0.8.3">

    <name>EmailComposer</name>

    <description>
        Provides access to the standard interface that manages
        the editing and sending an email message
    </description>

    <repo>https://github.com/katzer/cordova-plugin-email-composer.git</repo>

    <keywords>appplant, email</keywords>

    <license>Apache 2.0</license>

    <author>Sebastián Katzer</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/email_composer.js" name="EmailComposer">
        <clobbers target="cordova.plugins.email" />
        <clobbers target="plugin.email" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="ios-package" value="APPEmailComposer"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>mailto</string>
            </array>
        </config-file>

        <header-file src="src/ios/APPEmailComposer.h" />
        <source-file src="src/ios/APPEmailComposer.m" />
        <header-file src="src/ios/APPEmailComposerImpl.h" />
        <source-file src="src/ios/APPEmailComposerImpl.m" />

        <framework src="MessageUI.framework" />
        <framework src="MobileCoreServices.framework" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="android-package"
                       value="de.appplant.cordova.emailcomposer.EmailComposer"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>

        <source-file
            src="src/android/EmailComposer.java"
            target-dir="src/de/appplant/cordova/emailcomposer" />

        <source-file
            src="src/android/EmailComposerImpl.java"
            target-dir="src/de/appplant/cordova/emailcomposer" />

    </platform>

    <!-- amazon-fireos -->
    <platform name="amazon-fireos">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="android-package"
                       value="de.appplant.cordova.emailcomposer.EmailComposer"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>

        <source-file
            src="src/android/EmailComposer.java"
            target-dir="src/de/appplant/cordova/emailcomposer" />

        <source-file
            src="src/android/EmailComposerImpl.java"
            target-dir="src/de/appplant/cordova/emailcomposer" />

    </platform>

    <!-- windows -->
    <platform name="windows">

        <js-module src="src/windows/EmailComposerProxy.js" name="EmailComposerProxy">
            <runs />
        </js-module>
        <js-module src="src/windows/EmailComposerProxyImpl.js" name="EmailComposerProxyImpl">
            <runs />
        </js-module>

    </platform>

    <!-- browser -->
    <platform name="browser">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="browser-package"
                       value="de.appplant.cordova.emailcomposer.EmailComposer"/>
            </feature>
        </config-file>

        <js-module src="src/browser/EmailComposerProxy.js" name="EmailComposerProxy">
            <runs />
        </js-module>

    </platform>

</plugin>
