/out
/platforms/windows/build
/platforms/android/CordovaLib/gen
npm-debug.log
/platforms/android/CordovaLib/ant-gen
/platforms/android/gen
/platforms/wp8/obj
/platforms/windows/Backup
/platforms/ios/build
/platforms/android/CordovaLib/bin
/platforms/wp8/Bin
/platforms/android/bin
/platforms/android/ant-build
/platforms/android/CordovaLib/ant-build
/platforms/android/ant-gen