<?xml version='1.0' encoding='utf-8'?>
<widget id="de.appplant.cordova.plugin.emailcomposer.example" version="0.8.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EmailExample</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="windows-target-version" value="10.0" />
    <engine name="android" spec="latest" />
    <engine name="browser" spec="latest" />
    <engine name="ios" spec="^4.4.0" />
    <engine name="osx" spec="^4.0.1" />
    <engine name="windows" spec="^5.0.0" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-compat" spec="^1.1.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^1.1.6">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-x-toast" spec="^2.6.0" />
    <plugin name="cordova-plugin-email-composer" spec="^0.8.7" />
</widget>
